
@{
    ViewData["Title"] = "Главная страница";
}

<h1>Hello world!</h1>
<ol type="A">
    @for (int i = 1; i < 5; i++)
    {
        <li>элемент @i списка</li>
    }
</ol>
<h2>@ViewData["Text"]</h2>
<select asp-items="@ViewData["Lst"] as SelectList"></select>